<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF_8">
   <title>Advice For Self Esteem</title>
 </head>
<div id="Self Esteem" class="tabcontent">
 <h3>Advice For Self Esteem</h3>
 
 <img  src="http://wachabuy.com/wp-content/uploads/2017/10/quote-inspiration-35-Quotes-Every-Girl-Should-Remember-1-18.jpg">
 
 <p>To start off, you first have to recognize that many people suffer from low self-esteem. You are not alone.Build your self esteem by considering the things you like about yourself and those you don’t. Think about all the things you do like about yourself and write them down where you can read them each day.One thing you may like to change is your appearance. You can chage how you look and how you feel very quickly by dressing differently.Fears grow with negative thinking and if you avoid the things which scare you your confidence will drop.You should face your fears and work to overcome them so that your success will boost your self belief. Avoiding the things you fear most will make them stronger and hurt your confidence. No pain, no gain!</p>

</html>