<!DOCTYPE html>
<html lan="en"></html>
<title>Forgot password?</title>
<body>
<h1>Forgot Password?</h1>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqfqjna-if2t81u9tYiSoaNAqNFVkQEBki91gQcXGKf9mBpP-fNw">
<h2>Reset Password:</h2>
<p>Your Email Address: <input type="text" name="your_email_address"></p>
<input type="Submit">
</body>
</html>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h3>For more help call one of the hotlines below:</h3>
<ul>
  <li>Suicide hotline: 1-800-273-8255</li>
  <li>Assault hotline: 800-656-HOPE</li>
  <li>Self harm hotline: 1-800-366-8288</li>
  <li>Self esteem hotline:  800-852-8336</li>
</ul>
