<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="css/style.css">
</head>

<center><h1> Welcome to GirlsGetHelp </h1></center> <a href='/sign_in_up'><button type ="button"><h4>Sign In/Sign Up</h4>
<img width="1500" height="400" src= "https://i.pinimg.com/originals/f1/13/f2/f113f2bb68d50a0a81f45a7ae174f87e.jpg">

<a href='/self_esteem'><button style="height:400px;width;1500px"type = "button"><h1>_________________Self Esteem_________________</h1></button></a> 
<a href= '/self_harm'><button style="height:400px;width;1500px"type = "button"><h1>__________________Self Harm__________________</h1></button></a>
<a href = '/sexual_assault'><button style="height:400px;width;1500px"type = "button"><h1>_______________Sexual Assault_______________</h1></button></a>

<center><h2>About Us</h2></center>
<p>We are a group of girls who strive to help other girls through hardships.  Our names are Nimet, Anusha, Lena and Alexina.  Our website offers statistical information to keep others informed and educated on the issues many women face.  We want to allow women to be heard.  If you have been through any sort of hardship please visit our advice and/or thread posts to receive encouragement.  If you are in immediate danger, please call 911 or one of the hotlines listed at the bottom of each page. </p>
<p> Our Mission Statement: Our goal is that you overcome what you are going through with help, support and encouragement from our team or others who visit our website.</p>