<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="css/style.css">
</head>
<center class="background" id="home">

<h1> Welcome to GirlsGetHelp </h1>
<a href= '/self_esteem'><button style="height:50px;width:150"type = "button">Self Esteem</button></a> 
<a href= '/self_harm'><button style="height:50px;width:150"type = "button">Self Harm</button></a>
<a href = '/sexual_assault'><button style="height:50px;width:150"type = "button">Sexual Assault</button></a>
<h2>About Us</h2>
<p>We are a group of girls who strive to help other girls through hardships.  Our names are Nimet, Anusha, Lena and Alexina.  Our website offers statistical information to keep others informed and educated on the issues many women face.  We want to allow women to be heard.  If you have been through any sort of hardship please visit our advice and/or thread posts to receive encouragement.  If you are in immediate danger, please call 911 or one of the hotlines listed at the bottom of each page. </p>
<p> Our Mission Statement: Our goal is that you overcome what you are going through with help, support and encouragement from our team or others who visit our website.</p>
</center>