<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF_8">
   <title>Posts For Self Esteem</title>
 </head>
<div id="Self Esteem" class="tabcontent">
 <h3>Posts For Self Esteem</h3>
 
 <h3>For more help call one of the hotlines below:</h3>
 
<ul>
 <li>Suicide hotline: 1-800-273-8255</li>
 <li>Assault hotline: 800-656-HOPE</li>
 <li>Self harm hotline: 1-800-366-8288</li>
 <li>Self esteem hotline:  800-852-8336</li>
</ul>
</html>

