<center><header><h1>SELF HARM</h1></header></center>
<iframe src="https://cdn.dribbble.com/users/189524/screenshots/1931665/01-kitty_v2.gif"></iframe>
<h1>"Self-harm is more common than we would like and can be really damaging to a person’s physical and mental health. There are many reasons why someone self-harms, but most often it’s a way of coping with difficult emotions."</h1>
<p>Each year, 1 in 5 females and 1 in 7 males engage in self injury.</p>
<p>Nearly 50 percent of those who engage in self injury activities have been sexually abused. To learn more about sexual abbuse visit our "sexual assault" page.</p>
<p>About 50 percent of those who engage in self mutilation begin around age 14 and carry on into their 20s</p>
<p>Many of those who self injure report learning how to do so from friends or pro self injury websites</p>

<li>Click below to read or share stories.</li>
<button type="button">POSTS</button>
<li>Click below for advices against self harm.</li>
<button type="button">ADVICES</button>