<!DOCTYPE html>
<html lang="en">
 <head>
     <form method="get" action="/">
   <button type="submit">Home</button>
   </form>
   <title>Self Harm Advices</title>
 </head>
 <body>
   <center><header><h1>ADVICES FOR SELF HARM</h1></header></center>
   <img width="1400" height="250" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFeh-EyGJ0w6nh0-1H1kAa8ltwp79VRHcg190A_hUZHfmmElfh8A
">
   <h1>YOU ARE WORTH SO MUCH MORE THAN YOU REALIZE</h1>
   <h2><p>Hi. You or someone you know may be hurting themselves to cope with sadness. But there are so much better ways to deal with bad feelings that cutting your arm. Here are some of our advices. You can also call the hotline number that you can find on the bottom of each page of our website. Remember: you are worth so much more than you realize.</p></h2>
   <h2><li>Painting: art will make you feel free and relaxed.</li>
   <li>Own a pet: Someone who will love you and someone to cuddle whenever you feel upset. A fluffy friend:).</li>
   <li>Listen to calm music.</li>
   <Li>Call a friend or talk to someone you trust.</Li>
   <li>If you still feel angry, punch a pillow instead of yourself.</li>
   <li>See a therapist. They are there to talk to you anytime.</li>
   <li>Call a hotline.</li></h2>
   <h1>YOU ARE WORTH SO MUCH MORE THAN YOU REALIZE</h1>
   
   <h3>For more help call one of the hotlines below:</h3>
<ul>
 <li>Suicide hotline: 1-800-273-8255</li>
 <li>Assault hotline: 800-656-HOPE</li>
 <li>Self harm hotline: 1-800-366-8288</li>
 <li>Self esteem hotline:  800-852-8336</li>
</ul>
 </body>
 </html>