<center><header>SELF HARM</header></center>
<iframe src="https://media.giphy.com/media/TVFf2Ij3GBIPu/giphy.gif
https://media.giphy.com/media/TVFf2Ij3GBIPu/giphy.gif
"></iframe>
<h1>"Self-harm is more common than we would like and can be really damaging to a person’s physical and mental health. There are many reasons why someone self-harms, but most often it’s a way of coping with difficult emotions."</h1>
<p>Each year, 1 in 5 females and 1 in 7 males engage in self injury.</p>
<p>Nearly 50 percent of those who engage in self injury activities have been sexually abused. To learn more about sexual abbuse visit our "sexual assault" page.</p>
<li>Click below to read or share stories.</li>
<button type="button">POSTS</button>
<li>Click below for advices against self harm.</li>
<button type="button">ADVICES</button>