<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF_8">
   <title>Self Esteem</title>
 </head>
<div id="Self Esteem" class="tabcontent">
 <h3>Self Esteem</h3>
 
 <img  src="https://i.pinimg.com/originals/91/3f/18/913f18177c7d8ed7c32acf2a13074c0d.jpg">
 
 <p>Research has shown key differences between individuals with high and low self-esteem. For example, people with high self-esteem focus on growth and improvement, whereas people with low self-esteem focus on not making mistakes in life.Low self-esteem has been shown to be correlated with a number of negative outcomes, such as depression.Rosenberg and Owen offer the following description of low self-esteem people based on empirical research. People with low self-esteem are more troubled by failure and tend to exaggerate events as being negative.Research has shown key differences between individuals with high and low self-esteem. For example, people with high self-esteem focus on growth and improvement, whereas people with low self-esteem focus on not making mistakes in life.Low self-esteem has been shown to be correlated with a number of negative outcomes, such as depression.People with low self-esteem are more troubled by failure and tend to exaggerate events as being negative.</p>
</div>
<a href='/posts_for_self_esteem'<button type="button">Posts!</button></a>
<a href= '/advice_for_self_esteem'<button type="button">Advice!</button></a>
<form>
<input type="button" value="More Advice :)" onclick="window.location.href='https://www.netdoctor.co.uk/healthy-living/wellbeing/a25866/how-to-overcome-low-self-esteem/'" />
</form>
<h3>For more help call one of the hotlines below:</h3>
<ul>
 <li>Suicide hotline: 1-800-273-8255</li>
 <li>Assault hotline: 800-656-HOPE</li>
 <li>Self harm hotline: 1-800-366-8288</li>
 <li>Self esteem hotline:  800-852-8336</li>
</ul>
</html>