<!DOCTYPE html>
<html lang="en">
 <head>
     <form method="get" action="/">
   <button type="submit">Home</button>
   </form>
<div class="shp">
   <link rel="stylesheet" href= "css/style.css">
   <title>Self Esteem Posts</title>
   </head>
<body>
<div class="sept"> 
<h1><header>SELF ESTEEM POSTS</header></h1>
<h3>Type a story below, then click 'post' to share.</h3>
</div>
<input class="text_box" type="text">
<button type="button">POST</button>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHfrwrgyPuuIqAobEw4mIduwZ-E5wrz_vudGoQGS0qYdZixleJ">
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<div class="seph"><h3>For more help call one of the hotlines below:</h3>
<ul>
  <li>Suicide hotline: 1-800-273-8255</li>
  <li>Assault hotline: 800-656-HOPE</li>
  <li>Self harm hotline: 1-800-366-8288</li>
  <li>Self esteem hotline:  800-852-8336</li>
</ul>
</div>
</body>
</div>
</html>

