<!DOCTYPE html>
<html lang="en">
<head>
<title>Sexual Assault Advices</title>
</head>
<body>
  <center><h1>Ways to cope</h1></center>
  <h2>First off, if you have been sexually assaulted recently or in last few years or at all, call the police if you haven't already. This will make things way better in the future.</h2>
  <img width="390" height="300" src="https://crehab.org/wp-content/uploads/2017/07/life-after-addiction-recovery.jpg">
  <h2>For the first step of recovery:</h2>
  <h4>Learn that none of this is your fault, it might feel like it but trust me, none of this happend because of you. It was the other persons fault for hurting someone as innocent as you, you didn't cause this.</h4>
  <h4>If you haven't told anyone what happened, please do, your life will get so much better once you get the help you need and deserve.</h4>
  <h2>Don't deny it</h2>
  <h4>This is going to sound very blunt, but you should not deny whatever happened to you. If you start to deny it now you will live your life acting like it didn't happen and that could effect you mentally and physically.</h4>
  <h2>Get a therapist</h2>
  <h4>No, getting a therapist does not mean that you are crazy. Therapists actually do help, after something like this happens, trust me you will not be the same. You could develop anxiety, deppression, start to self-harm or god forbid start to have suicidial thoughts.</h4>
  <h4>Having a therapist is a great way to release pain, anger, bad thoughts, or anything that driving you crazy in your head.</h4>
  <h2>Talk to friends or family</h2>
  <h4>If you are not comfortable talking to a therapist talk to a trusted family or friend. Most likly they be will on your side and help you through your time of hurt.</h4>
  <h3>Things to take your mind off what happened:</h3>
<ul>
  <li>Do something you love: Doing thing you love as in dancing, painting, singing, walking, just whatever you love to do in you free time do it as much as you like.</li>
  <li>Go outside: Take a walk, go to a park, go to the mall, just get out the house and do something fun.</li>
  <li>Hang out with friends: Go outside with your friends, go hang out with family! If you don't have a lot of friends where you live, go make some, if you see someone you don't talk to as much, talk to them! You make a lifelong friend!</li>
</ul>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h3>For more help call one of the hotlines below:</h3>
<ul>
  <li>Suicide hotline: 1-800-273-8255</li>
  <li>Assault hotline: 800-656-HOPE</li>
  <li>Self harm hotline: 1-800-366-8288</li>
  <li>Self esteem hotline:  800-852-8336</li>
</ul>
</body>