
<!DOCTYPE html>
<html lan="en">
<html>
    <form method="get" action="/">
   <button type="submit">Home</button>
   </form>
<head><title>Sign In/Sign Up</title></head>
<h1> Sign In </h1>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-pM7nAD_5VrL_Kr1fknNiJTSLOLkbmASZrKyqq_PH_fLFWzzD9Q">
<p>Username: <input type="text" name="username"></p>
<p>Password: <input type="text" name="password"></p>
<input type="Submit">
<p>Forgot password? Click <a href = /forgotpassword >here</a></p>

<h1> Sign Up </h1>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9bo7LnK-NFItssW9at52WX8Ow_aptSYluDbZc1-M3n8TxfsaG">
<p>Your Email Address: <input type="text" name="your_email_address"></p>
<p>Username: <input type="text" name="username"></p>
<p>Password: <input type="text" name="password"></p>
<input type="Submit">
</html>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h1>_______</h1>
<h3>For more help call one of the hotlines below:</h3>
<ul>
  <li>Suicide hotline: 1-800-273-8255</li>
  <li>Assault hotline: 800-656-HOPE</li>
  <li>Self harm hotline: 1-800-366-8288</li>
  <li>Self esteem hotline:  800-852-8336</li>
</ul>
