<h1> Sign In </h1>
<p>Username: <input type="text" name="username"></p>
<p>Password: <input type="text" name="password"></p>
<a href= '/welcome'><input type = "Sumbit"></a>
<p>Forgot password? Click <a href = /forgotpassword >here</a></p>
<h1>______________________________________________________________________</h1>
<h1> Sign Up </h1>
<p>Your Email Address: <input type="text" name="your_email_address"></p>
<p>Username: <input type="text" name="username"></p>
<p>Password: <input type="text" name="password"></p>
<input type="Submit">

